@import '../../scss/variables.scss';

.sectionSlider {
  padding-bottom: 40px;
}

.containerTop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 20px;
}

.title {
  color: $color-white;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:hover {
    color: $color-pink;
    @include trans;
  }
}

.linkAll {
  display: flex;
  align-items: center;
  color: $color-white;

  span {
    color: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
    @include trans;

    &::after {
      content: '';
      width: 100%;
      background-color: $color-white;
      height: 1px;
      position: absolute;
      bottom: -2px;
      left: 0;
    }
  }

  svg {
    margin-left: 10px;
  }

  &:hover {
    color: $color-pink;
    @include trans;
  }

  &:active svg,
  &:hover svg {
    transform: translateX(10px);
    @include trans;
  }

  &:hover span::after {
    opacity: 0;
    @include trans;
  }
}

.slide {
  width: 133px;
  flex-shrink: 0;
}
