@import '../../scss/variables.scss';

.sectionSlider {
  padding-bottom: 40px;
}

.containerTop {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 7px;
  margin-bottom: 20px;
}

.title {
  color: $color-white;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  &:hover {
    color: $color-pink;
    @include trans;
  }
}

.linkAll {
  display: flex;
  align-items: center;
  color: $color-white;

  span {
    color: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    position: relative;
    @include trans;

    &::after {
      content: '';
      width: 100%;
      background-color: $color-white;
      height: 1px;
      position: absolute;
      bottom: -2px;
      left: 0;
    }
  }

  svg {
    margin-left: 10px;
  }

  &:hover {
    color: $color-pink;
    @include trans;
  }

  &:active svg,
  &:hover svg {
    transform: translateX(10px);
    @include trans;
  }

  &:hover span::after {
    opacity: 0;
    @include trans;
  }
}

.slide {
  width: 133px;
  flex-shrink: 0;
}

.slide__buttonNext {
  width: 70px;
  height: 117px;
  border-radius: 12px 0px 0px 12px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 2;
  display: none;
  opacity: 0;
  @include trans;
  &::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='58' viewBox='0 0 31 58' fill='none'%3E%3Cpath d='M1.5 1L29.5 29L1.5 57' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include viewport--lg {
    display: block;
  }

  &:disabled {
    display: none;
  }
}

.slide__buttonPrev {
  width: 70px;
  height: 117px;
  border-radius: 0px 12px 12px 0px;
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 2;
  opacity: 0;
  display: none;
  @include trans;

  &::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='31' height='59' viewBox='0 0 31 59' fill='none'%3E%3Cpath d='M29.6279 57.3096L1.62793 29.3096L29.6279 1.30957' stroke='white' stroke-width='2' stroke-linecap='round'/%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  @include viewport--lg {
    display: block;
  }

  &:disabled {
    display: none;
  }
}

.swiperContainer {
  position: relative;

  @include viewport--lg {
    &:hover {
      .slide__buttonNext,
      .slide__buttonPrev {
        opacity: 1;
      }
    }
  }
}
