.list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 25px;
}

.title {
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
}
