@import '../../scss/variables.scss';

.titleContainer {
  margin: 20px 0;

  @include viewport--lg {
    margin: 30px 0;
  }
}

.listContainer {
  padding: 20px 0;
}

.buttonWrapper {
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
